body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.input-group-sm {
    padding: 0 10px 0 0;
}

.input-group-text {
    min-width: 100px;
}
